<ul>
  {{#each items}}
  <li class="cart-item" data-id={{id}}>
    <a href="#"><img src="/images/{{image}}" alt="{{name}}"/></a>
    <p>{{quantity}}<span class="op">x</span>${{toFixed price}}</p>
  </li>
  {{/each}}
</ul>
<div> 
  <p>Your </br>Shopping cart</p>
  <h3>$ {{toFixed total}}</h3>
  <div>
    <a id="empty" href="/">Empty cart</a>
    <a id="checkout" class="angle-button" href="/checkout">checkout</a>
  </div>
</div>
