<h1>Order Details</h1>
<table>
  <thead>
    <th>item</th>
    <th></th>
    <th>quantity</th>
    <th>price</th>
  </thead>
  <tbody>
    {{#each items}}
      <tr data-id={{id}}>
        <td>
          <div class="image">
            <img src="/images/{{image}}"./ alt="{{name}}">
          </div>
        </td>
        <td>
          <span>{{name}}</span>
        </td>        
        <td><input class="quantity" type="number" step="1" value="{{quantity}}"></td>
        <td>${{toFixed price}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
<p><small>total:</small><strong>${{toFixed total}}</strong></p>

<div class="ops">
  <a class="cancel-order" href="#">clear order</a> 
  <a class="order-now button" href="#">order now!</a>
</div>