{{#each items}}
<div class="menu-item" data-id="{{id}}">
  <div class="info">
    <img src="/images/{{image}}" alt="{{name}}">
    <div class="mask" href="/menu/{{id}}"></div>
    <h3>{{name}}</h3>
    <p>${{price}}</p>
  </div>
  <a class="add-to-cart" href="#">add to cart</a>
</div>
{{/each}}