<a class="prev" href="#"></a>
<img src="/images/{{image}}" alt="{{name}}">
<div class="description">
  <h3>{{name}}</h3>
  <p>{{description}}</p>
  <div>
    <h3 class="price">${{price}}</h3>
    <a class="add-to-cart" href="#"></a>
  </div>
</div>
<div class="nutrition">
  <h4>Nutritional Information</h4>
  <ul>
    <li>Protein<span>{{protein}}</span></li>
    <li>Fat(total)<span>{{fat}}</span></li>
    <li>Carbohydrate<span>{{carbohydrate}}</span></li>
    <li>Energy(kj)<span>{{energy}}</span></li>
    <li>Energy(kcal)<span>{{energy}}</span></li>
    <li>Sugar<span>{{sugar}}</span></li>
  </ul>
</div>
<a class="next" href="#"></a>