<div class="card-ops">
  <a class="card-editor-btn icon-sm icon-edit dark-hover" href="#"></a>
</div>
<header>
  <div class="labels">
    {{#each labels}}
      <span class="label-sm" data-id="{{id}}" style="background:{{toRGB color}}"></span>
    {{/each}}
  </div>
</header>
<div class="name">{{name}}</div>
<div class="badges">
  {{#if subscribed}}
  <div class="badge">
    <span class="icon-sm icon-subscribe"></span>
  </div>
  {{/if}}
  {{#if due}}
  <div class="badge due {{isDuePast due}}">
    <span class="icon-sm icon-clock"></span>
    <span class="badge-text">{{formatDate due}}</span>
    </div>
  {{/if}}
  {{#if description}}
  <div class="badge">
    <span class="icon-sm icon-description"></span>
  </div>
  {{/if}}
  {{#if comments}}
  <div class="badge">
    <span class="icon-sm icon-comment"></span>
    <span class="badge-text">{{comments}}</span>
  </div>
  {{/if}}
</div>

