<div class="overlay"></div>
<div class="card-modal">
  <header>
    <h2>
      <span class="icon-lg icon-card indent"></span>
      <span>{{name}}</span>
    </h2>
    <p>in list <a href="#">{{list}}</a></p>
    <a class="icon-lg icon-close dialog-close-btn" href="#"></a>
  </header>
  <main>
    <section class="name">
      <div class="labels">
        <h3>Labels</h3>
        <div>
          {{#each labels}}
            <span class="card-modal-label" style="background-color:{{color}}">{{name}}</span>
          {{/each}}
          <span class="card-modal-add-label dark-hover icon-lg icon-add"></span>
        </div>
      </div>
      <div class="description">
        {{#if description}}
          <h3>Description</h3><a>Edit</a>
          <p>{{discriotion}}</p>
        {{else}}
          <a class="card-modal-edit-description"><span class="icon-sm icon-description"></span>Edit the description...</a>
        {{/if}}
      </div>
    </section>
    <section class="comment">
      <h2>
        <span class="icon-lg icon-comment indent"></span>
        <span>Add Comment</span>
      </h2>
      <form action="">
        <span class="user-initials indent"></span>
        <textarea class="comment-input" name="comment" placeholder="Write a comment..."></textarea>
        <input class="card-modal-btn" type="submit" value="Send">
      </form>
      </textarea>
    </section>
    <section class="Activity">
      <h2>
        <span class="icon-lg icon-activity indent"></span>
        <span>Activity</span>
      </h2>
      <ul>
        {{#each activities}}
          <li>
            <span class="icon-sm user-initials"></span>
            {{text}}
          </li>
        {{/each}}
        <li></li>
      </ul>
    </section>
  </main>
  <sidebar>
    <section>
      <h2>Add</h2>
      <a class="card-modal-btn-link" href="#"><span class="icon-sm icon-label"></span>&nbsp;Labels</a>
      <a class="card-modal-btn-link" href="#"><span class="icon-sm icon-clock"></span>&nbsp;Due Date</a>
    </section>
    <section>
      <h2>Actions</h2>
      <a class="card-modal-btn-link" href="#"><span class="icon-sm icon-move"></span>&nbsp;Move</a>
      <a class="card-modal-btn-link" href="#"><span class="icon-sm icon-card"></span>&nbsp;Copy</a>
      <a class="card-modal-btn-link" href="#"><span class="icon-sm icon-subscribe"></span>&nbsp;Subscribe</a>
      <a class="card-modal-btn-link" href="#"><span class="icon-sm icon-archive"></span>&nbsp;Archive</a>
    </section>
  </sidebar>
</div>
