<div class="card-editor">
  <span class="icon-lg icon-close card-editor-close-btn"></span>
  <div class="card-editor-body clearfix">
    <div class="card-editor-main">
      <div class="card-editor-wrapper">
        <div class="labels">
          {{#each labels}}
            <span class="label-sm" data-id="{{id}}" style="background:{{toRGB color}}"></span>
          {{/each}}
        </div>
        <textarea class="card-editor-input">{{name}}</textarea>
        <div class="card-editor-input-hiddendiv"></div>
        <div class="badges">
          {{#if subscribed}}
          <div class="badge">
            <span class="icon-sm icon-subscribe"></span>
          </div>
          {{/if}}
          {{#if due}}
          <div class="badge due {{isDuePast due}}">
            <span class="icon-sm icon-clock"></span>
            <span class="badge-text">{{formatDate due}}</span>
            </div>
          {{/if}}
          {{#if description}}
          <div class="badge">
            <span class="icon-sm icon-description"></span>
          </div>
          {{/if}}
          {{#if comments}}
          <div class="badge">
            <span class="icon-sm icon-comment"></span>
            <span class="badge-text">{{comments}}</span>
          </div>
          {{/if}}
        </div>
      </div>
      <input class="card-editor-save" type="submit" value="Save">
    </div>
    <div class="card-editor-ops">
      <a class="card-editor-btn-link card-editor-labels" href="#">
        <span class="icon-sm icon-label light"></span>
        <span>Edit Labels</span>
      </a>
      <a class="card-editor-btn-link card-editor-move" href="#">
        <span class="icon-sm icon-move light"></span>
        <span>Move</span>
      </a>
      <a class="card-editor-btn-link card-editor-copy" href="#">
        <span class="icon-sm icon-card light"></span>
        <span>Copy</span>
      </a>
      <a class="card-editor-btn-link card-editor-due-date" href="#">
        <span class="icon-sm icon-clock light"></span>
        <span>Change Due Date</span>
      </a>
      <a class="card-editor-btn-link card-editor-subscribe" href="#">
        <span class="icon-sm icon-subscribe light"></span>
        <span>Subscribe</span>
      </a>
      <a class="card-editor-btn-link card-editor-archive" href="#">
        <span class="icon-sm icon-archive light"></span>
        <span>Archive</span>
      </a>
    </div>
  </div>
</div>