include _mixins
doctype html
html
  head
    title Trello Lite 
    link(rel="shortcut icon" href="/favicon.ico")
    +stylesheet_link_tag("style")
    +javascript_include_tag("vendor/all")
    +javascript_include_tag("handlebars_templates")
  body
    div#application
      header
        a.header-btn
          span.icon-board.icon-lg.light
        div#header-search
        a.header-brand
        div.float-right
          a.header-btn
            span.icon-add.icon-lg.light
          a.header-btn.user-initials
          a.header-btn
            span.icon-information.icon-lg.light
          a.header-btn
            span.icon-notification.icon-lg.light.border-notification
      div#board
        header
          span
            span.board-header-btn-text.board-name Trello Lite
            span.icon-sm.icon-star.board-header-btn-icon
            span.board-header-btn-text
              span.icon-sm.icon-private.light
              span Private
          span.float-right
            span.board-header-btn-text.text-underline 
              span.icon-sm.icon-subscribe.light
              span Subscribed
            span.board-header-btn-text.text-underline.border-menu Show Menu
        div#lists

    +javascript_include_tag("application", "router", "helper", "client")
    +javascript_include_tag("models/card", "models/label", "models/list", "models/activity")
    +javascript_include_tag("collections/cards", "collections/labels", "collections/lists", "collections/activities")
    +javascript_include_tag(
      "views/list", 
      "views/card", 
      "views/card_modal", 
      "views/card_editor", 
      "views/card_composer",
      "views/search_bar",
      "views/search_result")
    +javascript_include_tag(
      "views/popovers/labels_popover", 
      "views/popovers/duedate_popover", 
      "views/popovers/labeledit_popover", 
      "views/popovers/labeldelete_popover",
      "views/popovers/listactions_popover",
      "views/popovers/menu_sidebar",
      "views/popovers/notification_popover",
      "views/popovers/cardcopy_popover",
      "views/popovers/cardmove_popover",
      "views/popovers/listadd_popover")

    script(type="text/javascript").
      App.colors = !{JSON.stringify(colors)}; // immutable
      App.lists = new Lists(!{JSON.stringify(lists)});
      App.cards = new Cards(!{JSON.stringify(cards)});
      App.labels = new Labels(!{JSON.stringify(labels)});
      App.activities = new Activities(!{JSON.stringify(activities)});
      App.init();
