<img src="{{#if cover}} {{cover}} {{else}} http://placehold.it/150/f88/000 {{/if}}"/>
<div>
  <h3> {{title}} </h3>
  <p> {{artist}} </p>
  <p> {{date}} </p>
  <p> $ {{format_price price}} </p>
</div>
<a class="button add_to_cart" href="#">add to cart</a>
<p>
  <a class="button admin edit" href="/albums/edit">edit</a>
  <a class="button admin delete" href="/albums/delete">delete</a>
</p>